body{
    background-color: black;
}
.nav-bar{
    color: white;
    height: 10vh;
    display: flex;
    justify-content: space-around\;
}
.container{
    width: 70px;
    height: 70px;
    background-color: black;
}
a:hover{
    color:blue;
    background-color: red;
}